:root {
  --accent: #7a5af8;
  --accent-hover: #6945e2;

  --bg-light: #f7f7f9;
  --bg-card: #ffffff;

  --text-primary: #1e1e1e;
  --text-secondary: #6f6f6f;

  --border-color: #e5e5e5;
}

body {
  background-color: var(--bg-light);
  font-family: "Inter", sans-serif;
}
